/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f9b8e;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* IZQUIERDA */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  font-size: 24px;
}

/* DERECHA */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* ROL */
.rol {
  background: white;
  color: #0f9b8e;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

/* BOTON */
.navbar button {
  background: #ffffff;
  color: #0f9b8e;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.navbar button:hover {
  background: #e6e6e6;
}